extends layout 
 
block content 
  h1= title
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let Bearid = toShow._id 
    - let Bear_type = toShow.Bear_type 
    - let Bear_name = toShow.Bear_name 
    - let Bear_size = toShow.Bear_size 
    - let actionid = "/resource/Bear/" + Bearid 
    script let actionid = "#{actionid}" 
    div(class='out')
      div.row 
        div(class='BearAttr mr-3') Bear ID is: 
        div #{Bearid} 
      div.row 
        div(class='BearAttr mr-3') Bear Type is: 
        div #{Bear_type} 
      div.row 
        div(class='BearAttr mr-3') Bear _size is: 
        div #{Bear_size} 
      div.row 
        div(class='BearAttr mr-3') Bear _name is: 
        div #{Bear_name} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the Bear collection 
      window.location.href='/Bears' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      //Don't need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/Bear' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    }